<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  name="All Class Test">
        <classes>
            <class name="UserTest"/>
            <class name="UserDoctorTest"/>
            <class name="DoctorTest"/>
            <class name="AdminDoctorTest"/>
        </classes>
    </test>
</suite>